:root {
    --primary-h: 203;
    --primary-s: 40%;
    --primary-l: 67%;
    --shift: 15%;

    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --primary-100: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - var(--shift) * 2));
    --primary-300: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - var(--shift)));
    --primary-500: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + var(--shift)));
    --primary-700: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + var(--shift) * 2));
}