/* bad practice */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&display=swap');

:root {
  --primary-h: 203;
  --primary-s: 40%;
  --primary-l: 67%;
  --light: 15%;

  --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  --primary-100: hsl(
    var(--primary-h),
    calc(var(--primary-s) - var(--light) * 0.5),
    calc(var(--primary-l) - var(--light) * 2)
  );
  --primary-300: hsl(
    var(--primary-h),
    calc(var(--primary-s) - var(--light)),
    calc(var(--primary-l) - var(--light))
  );
  --primary-500: hsl(
    var(--primary-h),
    var(--primary-s),
    calc(var(--primary-l) + var(--light))
  );
  --primary-700: hsl(
    var(--primary-h),
    var(--primary-s),
    calc(var(--primary-l) + var(--light) * 2)
  );

  --error: hsl(
    0,
    var(--primary-s),
    var(--primary-l)
  );

  --error-500: hsl(
    0,
    calc(var(--primary-s) + var(--light)),
    calc(var(--primary-l) + var(--light))
  );

  --line: #c4c4c440;
  --line-500: #c4c4c4;
  --font-main: "Montserrat", sans-serif;
  --font-secondary: "Fira Sans", sans-serif;
}

.btn--primary-o,
.btn--primary-a:hover {
  border: 1px solid var(--primary);
}

.btn--primary-0:hover,
.btn--primary-a:active,
.btn--primary {
  background: var(--primary);
  color: #fff;
}

.btn--success {
  background: #E7D4C0;
  color: #fff;
}

.btn--danger {
  background: var(--error);
  color: #fff;
}

.btn--outline {
  border: 1px solid var(--primary);
  color: var(--primary);
}

/* background color */

.theme--primary {
  background-color: var(--primary);
  color: #fff;
}

.theme--primary-100 {
  background-color: var(--primary-100);
  color: #fff;
}

.theme--primary-300 {
  background-color: var(--primary-300);
  color: #fff;
}

.theme--primary-500 {
  background-color: var(--primary-500);
  color: #fff;
}

.theme--primary-700 {
  background-color: var(--primary-700);
  color: #fff;
}

.theme--dark {
  background-color: rgb(20, 20, 20);
  color: #fff;
}

.txt--light {
  color: var(--line);
}

.border {
  border: .5px solid transparent;
}
.border-1 {
  border: 1px solid transparent;
}

.border--line {
  border: 1px solid var(--line);
}

.disabled {
  pointer-events: none;
  color: var(--line-500);
}

.small {
  font-size: 0.75rem;
  font-family: var(--font-main);
}